body{
    height: 100vh;
    display: grid;
    align-content: center;
}
img{
    display: block;
    max-width: 100%;
}
.c-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header  ."
    "content image"
    ;
}
.c-header{
    grid-area: header ;
    display: grid;
    align-items: center;
    justify-content:center;
    margin-top: 2rem;
}
.c-image{
    display: grid;
    grid-area: image ;
    align-items: flex-end;
}
.c-image__img{
    min-width: 450px;
    padding: 10px;
}

.c-content{
    grid-area: content ;
    max-width: 560px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.c-content__title{
    font-size: 3.375rem;
    font-weight: 900;
    line-height: 1;
    color:#B17BEC ;
    text-align: center;
}

.c-content__text{
    max-width: 400px;
   color: #67647E;
   font-weight: 900;
   font-size: 1.5rem;
   line-height: 1.3;
   margin: 1.5rem 0;
}
.c-content__buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0px 0px 30px;
}
.c-content__link{
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 1rem 0.5rem 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #B17BEC;
    transition: 400ms;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    color: #fff;
    margin: 0 10px;
}

.c-content__link + .c-content__link{
    margin-top: 2.5rem;
}


.c-content__link::before{
    content:url('../images/addOrgs.svg');
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    left: 0px;
    top: 55%;
    background: #4c4981;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.c-content__link:last-child:before{
    content: url('../images/localmark.svg');
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    left: 0px;
    top: 55%;
    background: #4c4981;
    padding: 10px;
    transform: translate(-50%, -50%)
}
.c-content__text-link{
    margin-left: -30px ;
}

@media(max-width:900px){
    .c-box{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header "
        "content"
        ;
    }
    .c-content__text{
        text-align:center;
    }
    .c-image__img, .c-image__span, .c-image__text{
        display: none;
    }
}