body {
  width: 100vw;
  height: 100vh;
}
.js-hidden{
    display: none;
}
.js-not-hidden{
    display: grid;
}
.c-box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(250px, 500px) minmax(500px, 2fr);
  grid-template-areas: "aside map";
}
.c-aside {
  grid-area: aside;
  padding: 10px;
  display: grid;
  grid-template-areas:
    "header"
    "links";
  align-items: center;
  background: #b17beb;
}
.c-aside__header {
  height: 80%;
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.c-aside__h2 {
  color: #fff;
  font-weight: 800;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  line-height: 1.3;
  text-align: center;
}
.c-aside__text {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  text-align: center;
}
.c-aside__links {
  grid-area: links;
  display: grid;
  align-content: center;
  justify-content: center;
  height: 80%;
}
.c-aside__link {
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center;
}
.c-aside__link + .c-aside__link {
  margin-top: 2rem;
}
.c-aside__text-link {
  margin: 0 10px;
}
.c-aside__buttons{
    display: none;
}
/* Map */
.c-map {
  display: grid;
  align-items: flex-end;
  justify-content: center;
}
.c-map__menu{
    display: none;
}
.c-map__buttons {
  display: flex;
  align-items: center;
  padding: 20px 30px 20px 50px;
  justify-content: center;
  grid-row: 2;
}
.c-map__link {
  width: 100%;
  min-width: 180px;
  max-width: 360px;
  height: 72px;
  border-radius: 1rem 0.5rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #b17bec;
  transition: 400ms;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  margin: 0 10px;
  z-index: 2000000;
}

.c-map__link + .c-map__link {
  margin-left: 2.5rem;
}

.c-map__link::before {
  content: url("../images/localmark.svg");
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  left: 0px;
  top: 55%;
  background: #4c4981;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.c-map__text-link {
  margin-left: -30px;
  color: #fff;
  padding: 5px;
}

/* Responsive */
@media (max-width: 900px) {
  /* .c-box {
    width: 100%;
    height: 100%;
    display: block;
    grid-template-columns: minmax(250px, 500px) minmax(500px, 2fr);
    grid-template-areas: "aside map";
  } */
  .c-aside {
    width: 100%;
    height: 100%;
    grid-template-areas:
    "header"
    "links"
    "button"
    ;
  }
  .c-aside__buttons{
    display: grid;
    align-self: center;
    justify-content: center;
    grid-area: button;

  }
  .c-aside__button{
    background: #4c4981;
    color: #fff;
    text-align: center;
    padding: 1rem;
    max-width: 80%;
    min-width: 150px;
    border-radius: 1.5rem;
    
}
  .c-aside__text{
      max-width: 400px;
  }
  .c-map {
    width: 100%;
    height: 100%;
  }
  .c-map__menu{
      display: flex;
      padding: 10px;
      background: #b17beb;
      border-radius: 40%;
      position: absolute;
      top: 20px;
      right: 20px ;
      z-index: 20000000;
      color: #fff !important;
      font-weight: 800;
      font-size: 1.5rem;
      cursor: pointer;
  }
  .c-map__menu-link{
      color: #fff !important;
      font-weight: 800;
      font-size: 1.5rem;
  }
  .c-map__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px 20px 50px;
    justify-content: center;
  }
  .c-map__link{
      margin: 0;
  }
  .c-map__link + .c-map__link {
    margin-top: 1rem;
    margin-left: 0rem;
  }
}
