body{
    height: 100vh;
    display: grid;
    align-content: center;
}
img{
    max-width: 100%;
    display: block;
}
.c-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: minma 1fr; */
    grid-template-areas: 
    "header  ."
    "image  info"
    ;
}
.c-header{
    grid-area: header ;
    display: grid;
    align-items: center;
    justify-content:center;
    margin-top: 2rem;
}
.c-image{
    grid-area: image ;
    display: grid;
    align-self: center;
    margin: 0 auto;
}
.c-image__img{
    min-width: 450px;
    padding: 10px;
}
.c-image__span{
    color: #2d2d2d;
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 400;
    padding: 0.3125rem;
    display: block;
    text-align: end;
}
.c-image__text{
    color: #2d2d2d;
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 400;
    padding: 0.3125rem;
    text-align: end;

}
.c-registration-information{
    grid-area: info ;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
}
.c-registration-information__item{
    list-style: none;
}
.c-registration-information__h2{
    color: #2d2d2d;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.3;
    text-align: center;
}
.c-registration-information__list{
    color: #2d2d2d;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.3;

}
 .c-registration-information__button {
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,.2);
    font-weight: 600;
    font-size: 1.5rem;
    outline: transparent;
    transition: 500ms ease-in-out;
    background: #b17beb;
    color: #fff;
    text-align: center;
    padding: 1rem;
    max-width: 80%;
    min-width: 150px;
    align-self: center;
}

@media(max-width:950px){

    .c-box{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header "
        "info"
        
        ;
    }
    .c-image__img, .c-image__span, .c-image__text{
        display: none;
    }
}
@media(max-width: 500px){
    body{
        height:100%;
    }
}
