<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gifty | Login</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/acess.css">
</head>
<body>
    <article class="c-box">
        <header class="c-header">
            <img class="c-header__logo" src="/public/images/logo.svg" alt="Logomarca do Gifty" />
        </header>
        <div class="c-image">
            <img class="c-image__img" src="../public/images/homem-e-garoto.png" alt="Imagem do Gifty">
            <span class="c-image__span"><strong>"Vamos ajudar o próximo, o próximo pode ser você."</strong></span>
            <p class="c-image__text"><strong>Wesleu D'Amico</strong></p>
        </div>
        <section class="c-acess">
            <h2 class="c-acess__h2">Acesse sua conta</h2>
        <form class="c-acess__form">
            <input class="c-acess__input" name="email" type="email" placeholder="Email" required>
            <input class="c-acess__input" name="password" type="password" placeholder="Senha" required>
            <a class="c-acess__button u-button" href="#">Entrar</a>
        </form>
        <span class="c-acess__span">Ainda não é cadastrado? <a class="c-acess__link" href="#">Cadastre agora</a></span>
        <span class="c-acess__span">Esqueceu sua senha? <a class="c-acess__link" href="#">Clique aqui para recuperar</a></span>
        </section>
    </article>
</body>
</html>