<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gifty | Create an account </title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/create-an-account.css">
</head>
<body>
    <article class="c-box">
        <header class="c-header">
            <img class="c-header__logo" src="/public/images/logo.svg" alt="Logomarca do Gifty" />
        </header>
        <div class="c-image">
            <img class="c-image__img" src="../public/images/homem-e-garoto.png" alt="Imagem do Gifty">
            <span class="c-image__span"><strong>"Vamos ajudar o próximo, o próximo pode ser você."</strong></span>
            <p class="c-image__text"><strong>Wesleu D'Amico</strong></p>
        </div>
        <section class="c-create-account">
            <h2 class="c-create-account__h2">Criar minha conta</h2>
        <form class="c-create-account__form">
            <input class="c-create-account__input" type="email" placeholder="Email" required>
            <input class="c-create-account__input" type="password" placeholder="Senha" required>
            <input class="c-create-account__input" type="password" placeholder="Senha" required>
            <span class="c-create-account__span">Ao se cadastrar você concorda com os <a class="c-create-account__link" href="#">termos de uso</a></span>
            <a class="c-create-account__button u-button" href="#" >Cadastrar</a>
        </form>
        <span class="c-create-account__span">Já é cadastrado? <a class="c-create-account__link" href="#">Acesse sua conta por aqui</a></span>
        </section>
    </article>
</body>
</html>