<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gifty | Payment methods</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/edit-payment-methods.css">
</head>
<body>
    <article class="c-box">
        <header class="c-header">
            <img class="c-header__logo" src="/public/images/logo.svg" alt="Logomarca do Gifty" />
        </header>
        <div class="c-close"><a class="u-close" href="#">&#x02190 Sair</a></div>
        <div class="c-image">
            <img class="c-image__img" src="../public/images/trofeu.png" alt="Imagem do Gifty">
        </div>
        <section class="c-edit-payment-methods">
            <h2 class="c-edit-payment-methods__h2"> Editar Formas de Pagamento &#x02228</h2>
            <a class="c-edit-payment-methods__link u-link-1" href="#"><img class="c-edit-payment-methods__img-1" src="../public/images/mercado-pago.png" alt=""><p class="c-edit-payment-methods__text-link">Link de Pagamento</p></a></span>
            <a  class="c-edit-payment-methods__link u-link-2" href="#"><img class="c-edit-payment-methods__img-2" src="../public/images/picpay.png" alt=""><p class="c-edit-payment-methods__text-link">Link de Pagamento</p></a></span>
            <h3 class="c-edit-payment-methods__h3">Conta bancaria</h3>

        <form class="edit-payment-methods__form u-form-1">
            <input class="c-edit-payment-methods__input" name="bank" type="text" placeholder="Banco" required>
            <input class="c-edit-payment-methods__input" name="bank-branch" type="text" placeholder="Agência" required>
            <input class="c-edit-payment-methods__input" name="account" type="text" placeholder="conta" required>
            
        </form>
        <form class="c-edit-payment-methods__form u-form-2">
            <input class="c-edit-payment-methods__input" name="name" type="text" placeholder="Nome" required>
            <input class="c-edit-payment-methods__input" name="cpf" type="text" placeholder="CPF" required>
        </form>
        <div class="c-edit-payment-methods__buttons">
            <a class="c-edit-payment-methods__button u-button-2 u-button" href="#">Finalizar</a>
        </div>
        
        
        </section>
    </article>
</body>
</html>