<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gifty | Registration information</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/registration-information.css">
</head>
<body>
    <article class="c-box">
        <header class="c-header">
            <img class="c-header__logo" src="/public/images/logo.svg" alt="Logomarca do Gifty" />
        </header>
        <div class="c-image">
            <img class="c-image__img" src="../public/images/jovens.png" alt="Imagem do Gifty">
            <span class="c-image__span"><strong>"Vamos ajudar o próximo, o próximo pode ser você."</strong></span>
            <p class="c-image__text"><strong>Wesleu D'Amico</strong></p>
        </div>
        <section class="c-registration-information">
            <h2 class="c-registration-information__h2">Chegamos nas últimas
                configurações.</h2>
                <ul class="c-registration-information__item" >
                    <li class="c-registration-information__list">1. Estamos em verificação constante de todas as ONG's para uma melhor
                        segurança. Em caso de violação dos termos a conta será encerrada
                        imediatamente sem aviso prévio.</li>
                    <li class="c-registration-information__list">2. Não nos responsabilizamos por qualquer erro de dados de pagamentos,
                        por tanto não temos envolvimento com nenhum erro cometido pelo usuário.</li>
                    <li class="c-registration-information__list">3. Desde já avisamos a todos que não temos envolvimento com qualquer
                        que seja a ONG cadastrada em nosso site.
                        Ao violar qualquer informação acima resultará em cancelamento imediato
                        da conta.</li>
                    </ul>
            <a class="c-registration-information__button u-button" href="#">Estou ciente, quero continuar</a>
        </section>
    </article> 
</body>
</html>