<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gifty | Your information</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/your-information.css">

</head>
<body>
    <article class="c-box">
        <header class="c-header">
            <img class="c-header__logo" src="/public/images/logo.svg" alt="Logomarca do Gifty" />
        </header>
        <div class="c-image">
            <img class="c-image__img" src="../public/images/poste.png" alt="Imagem do Gifty">
        </div>
        <section class="c-your-information">
            <h2 class="c-your-information__h2">Suas informações</h2>
        <form class="c-your-information__form u-form-1">
            <input class="c-your-information__input" name="name" type="text" placeholder="Nome" required>
            <input class="c-your-information__input" name="last-name" type="text" placeholder="Sobrenome" required>
            <input class="c-your-information__input" name="age" type="text" placeholder="Idade" required>
            <input class="c-your-information__input" name="cpf" type="text" placeholder="CPF" required>
            <input class="c-your-information__input" name="country" type="text" placeholder="País" required>
        </form>
        <a class="c-your-information__button u-button-1 u-button" href="#">limpar</a>

        <form class="c-your-information__form u-form-2">
            <input class="c-your-information__input" name="state" type="text" placeholder="Estado" required>
            <input class="c-your-information__input" name="city" type="text" placeholder="Cidade" required>
            <input class="c-your-information__input" name="address" type="text" placeholder="Endereço" required>
            <input class="c-your-information__input" name="number" type="text" placeholder="Número" required>
            <input class="c-your-information__input" name="zip-code" type="text" placeholder="Código Postal" required>
        </form>
        <a class="c-your-information__button u-button-2 u-button" href="#">Continuar</a>
        </section>
    </article>
</body>
</html>